@import "open-props/style";
@import "open-props/normalize";

blockquote {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  color: var(--_ink);
  border-color: var(--_accent-2);
  background-color: var(--_bg);
  justify-self: flex-start;
}

.card {
  border-radius: var(--radius-2);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-2);
}
@media (--motionOK) {
  .card {
    animation: var(--animation-fade-in);
  }
}

.card:hover {
  box-shadow: var(--shadow-3);
}
